@model Registro_Efectos_Adversos.Models.Solicitud

@{
    ViewData["Title"] = "Paso 5 de 5";
}

<h4>Solicitud</h4>
<h4>Número de solicitud: @ViewBag.Solicitud</h4> 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Paso5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
i. Resultado del evento adverso o de los síntomas (marque todo lo que 
corresponda):
          <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta1" /> 1. Visita al médico o a la consulta de otro profesional de la salud
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta2" />  2. Visita a la sala de emergencias o al centro de atención urgente
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta3" /> 3. Hospitalización
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta4" /> 4. Hospitalización prolongada (inyección de COVID recibida en el 
hospital)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta5" />  5. Enfermedad que pone en peligro la vida
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta6" />   6. Incapacidad o daño permanente
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta7" />  7. Paciente fallecido
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta8" />  8. Anomalía congénita o defecto de nacimiento
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta9" />  9. Aborto espontáneo o nacimiento sin vida
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta10" /> 10. Ninguna de las anteriores
                </label>
            </div>
            <div class="form-group">
               ii. ¿Se mantiene los síntomas?
              @Html.DropDownListFor(modelItem => modelItem.Respuesta11, new [] { new SelectListItem { Text = "Si", Value="1" } , new SelectListItem { Text = "No", Value="0"} }, new { @class = "form-control" })
                <span asp-validation-for="Respuesta11" class="text-danger"></span>
            </div>
               iii. ¿Alergias conocidas?
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta12" /> 1. Medicamentos
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta13" /> 2. Polietilenglicol
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta14" /> 3. Alimentos
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta15" /> 4. Medio ambiente
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta16" /> 5. Otros
                </label>
            </div>
            <div class="form-group">
                iv. Descripción de alergias conocidas.
                <input asp-for="Respuesta17" class="form-control" />
                <span asp-validation-for="Respuesta17" class="text-danger"></span>
            </div>
            v. Nuevas enfermedades desde su inyección de COVID (marque todas las que 
correspondan):

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta18" /> 1. Enfermedad de Addison
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta19" /> 2. Alergias
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta21" /> 3. Arritmias
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta22" /> 4. Fibrilación auricular
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta23" /> 5. Vasculitis autoinmune
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta24" /> 6. Parálisis de Bell (parálisis facial)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta25" /> 7. Bronquitis
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta26" /> 8. Cáncer
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta27" /> 9. Enfermedad celíaca (intolerancia al gluten)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta28" /> 10. Enfermedad renal crónica
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta29" /> 11. Insuficiencia cardíaca congestiva
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta30" /> 12. Enfermedad de Crohn
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta31" /> 13. TVP (coágulos de sangre)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta32" /> 14. Diabetes
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta33" /> 15. Encefalitis (inflamación cerebral/dolores de cabeza)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta34" /> 16. Epilepsia (convulsiones)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta35" /> 17. Enfermedades del corazón
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta36" /> 18. Herpes tipo 1
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta37" /> 19. Herpes tipo 2
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta38" /> 20. VIH
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta39" /> 21. Hipertensión (presión arterial alta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta40" /> 22. Enfermedad inflamatoria intestinal
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta41" /> 23. Enfermedad renal aguda
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta42" /> 24. Enfermedad hepática
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta43" /> 25. Lupus
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta44" /> 26. Aborto espontáneo
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta45" /> 27. Esclerosis múltiple
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta46" /> 28. Miastenia gravis
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta47" /> 29. Infarto de miocardio (ataque al corazón)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta48" /> 30. Miocarditis
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta49" /> 31. Osteoartritis
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta50" /> 32. Pericarditis
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta51" /> 33. Anemia perniciosa
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta52" /> 34. Neumonía
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta53" /> 35. Parto prematuro
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta54" /> 36. Psoriasis
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta55" /> 37. Artritis psoriásica
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta56" /> 38. Embolia pulmonar
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta57" /> 39. Artritis reumatoide
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta58" /> 40. Herpes zóster
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta59" /> 41. Síndrome de Sjogren
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta60" /> 42. Nacimiento sin vida
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta61" /> 43. Accidente cerebrovascular
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta62" /> 44. Ataques isquémicos transitorios (AIT)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta63" /> 45. Trastorno de la tiroides
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta64" /> 46. Colitis ulcerosa
                </label>
            </div>
            <div class="form-group">
                vi. Especifique otras condiciones
                <input asp-for="Respuesta65" class="form-control" />
                <span asp-validation-for="Respuesta65" class="text-danger"></span>
            </div>
            <div class="form-group">
                vii. ¿Si ha desarrollado un nuevo cáncer o la reaparición de un cáncer existente 
después de la inyección de COVID, especifique el tipo de cáncer?
                <input asp-for="Respuesta66" class="form-control" />
                <span asp-validation-for="Respuesta66" class="text-danger"></span>
            </div>
            viii. ¿Desde la inyección de COVID, ha tenido alguno de los siguientes 
síntomas?
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta67" /> 1. Síntomas de COVID o Enfermedad de COVID
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta68" /> 2. Disminución del bienestar
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta69" /> 3. Disminución del estado de salud
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta70" /> 4. Fatiga extrema
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta71" /> 5. Incapacidad para participar en actividades rutinarias
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta72" /> 6. Pérdida de energía
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta73" /> 7. Dolor inexplicable
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta74" /> 8. Debilidad
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta75" /> 9. Fiebre inexplicable
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta76" /> 10. Sensaciones corporales inexplicables
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta77" /> 11. Sudores nocturnos
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta78" /> 12. Sofocos
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta79" /> 13. Intolerancia al frío
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta80" /> 14. Intolerancia al calor
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta81" /> 15. Sensibilidad a los cambios de temperatura
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta82" /> 16. Cambio en la capacidad de caminar
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta83" /> 17. Cambio en el pensamiento
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta84" /> 18. Ya no me siento como antes
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta85" /> 19. Aumento de peso inexplicable
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta86" /> 20. Pérdida de peso inexplicable
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta87" /> 21. Sueño fragmentado
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta88" /> 22. No puedo dormir
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Respuesta89" /> 23. Insomnio
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}









